body {
   margin: 0;
   padding: 0;
}

.container {
    display: flex;
    align-items: center;
    gap: 80px;
    width: 90%;
    height: 80%;
}

.logo {
    text-align: center;
    color: #F4B860;

}

.logo h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}

.logo p {
    font-size: 12px;
    letter-spacing: 2px;
}

.logo img {
    width: 120px;
    height: auto;
}

.login-box {
    background-color: #F4B860;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.login-box h1 {
    margin-bottom: 20px;
    color: #111;
    font-size: 28px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #2E2B26;
    color: #fff;
    font-size: 16px;
    text-align: center;
    outline: none;
}

.submit-btn {
    background-color: #111;
    color: #F4B860;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #333;
}
