.login-container {
    background-color: #f4b460;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container h2 {
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    background-color: #2e2a26;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-container button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
}

.login-container button:hover {
    background-color: #333;
}

.logo-container {
    text-align: center;
    color: #f4b460;
    font-size: 24px;
    font-weight: bold;
}

.logo-container img {
    width: 100px;
    margin-bottom: 10px;
}

.logo-container p {
    font-size: 14px;
    letter-spacing: 2px;
}