.sidebar {
    background-color: #f6f6f6;
    width: 80px;  /* Maior para melhor usabilidade */
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar .circle {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
}

.sidebar .icons i {
    font-size: 32px;
    color: #000;
    cursor: pointer;
}

.icons{
    margin-bottom: 80px;
}

.icons a:hover {
    transform: scale(1.2);
}

.form-box {
    background-color: #fff;
    flex-direction: column;
    margin-left: 37px;
    margin-left: 80px; 
    width: calc(100% - 80px);
}

h2 {
    font-weight: bold;
    text-align: center;
}

.form-label {
    color: #000;
}

.form-control {
    background-color: #dde3e5;
    color: #000;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.form-control::placeholder {
    color: #aaa;
}

.form-control:focus {
    background-color: #dde3e5;
    color: #000;
}

.submit-btn {
    background-color: #060d17;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 15px;
}

.submit-btn:hover {
    background-color: #000;
}