<div class="container-fluid d-flex">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column align-items-center p-3">
        <div class="circle"></div>
        <div class="sidebar d-flex flex-column align-items-center justify-content-between col-lg-1 py-4">
            <div class="circle"></div>
            <div class="icons d-flex flex-column gap-4">
                <a routerLink="/dashboard/admin" href="/dashboard/admin" title="home">
                    <i class="bi bi-house"></i>
                </a>
                <a routerLink="/listar/atividades" href="/listar/atividades" title="Atividades">
                    <i class="bi bi-list-task"></i> 
                </a>
                <a routerLink="/listar/usuarios" href="/listar/usuarios" title="Usuarios">
                    <i class="bi bi-person"></i>
                </a>
                <a routerLink="/listar/projetos" href="/listar/projetos" title="Projetos">
                    <i class="bi bi-folder"></i>
                </a>
                <a routerLink="" href="" title="Relatórios">
                    <i class="bi bi-bar-chart"></i>
                </a>
                <a routerLink="/listar/lancamentos" href="/listar/lancamentos" title="Lançar-Horas">
                    <i class="bi bi-clock"></i>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Conteúdo -->
    <div class="container d-flex justify-content-center align-items-center flex-grow-1">
        <div class="form-box p-4 rounded">
            <h2 class="text-center">LANÇAMENTO DE HORAS</h2>
            <form class="form" (submit)="lancarHoras()">
                <div class="row g-3 mt-3">
                    <div class="col-lg-3">
                        <label for="dataRegistro" class="form-label">Registro</label>
                        <input type="date" class="form-control" id="dataRegistro"[(ngModel)]="lancamentoHoras.dataRegistro" name="dataRegistro">
                    </div>
                    <div class="col-lg-3">
                        <label for="dataInicio" class="form-label">Início</label>
                        <input type="time" class="form-control" id="dataInicio" [(ngModel)]="dataInicio" name="dataInicio" (blur)="calcularDuracao()">
                    </div>
                    <div class="col-lg-3">
                        <label for="dataFim" class="form-label"> Fim</label>
                        <input type="time" class="form-control" id="dataFim" [(ngModel)]="dataFim" name="dataFim" (blur)="calcularDuracao()">
                    </div>
                    <div class="col-lg-3">
                        <label for="tempoDuracao" class="form-label">Tempo de Duração</label>
                        <input type="text" class="form-control" id="tempoDuracao" name="tempoDuracao"  [(ngModel)]="tempoDuracao" readonly>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label for="vincular-projeto">Vincular atividade</label>
                        <select class="form-control input-custom text-center" name="projeto" [(ngModel)]="lancamentoHoras.idAtividade">
                            <option *ngFor="let atividade of atividades" [ngValue]="atividade.id">
                                {{ atividade.nome }}
                            </option>
                        </select>

                    </div>
                    <div class="col-lg-8 ">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="descricao" [(ngModel)]="lancamentoHoras.descricao" name="descricao">
                    </div>
                    
                </div>
                <div class="mt-4 text-center">
                    <button type="submit" class="btn submit-btn" >LANÇAR HORAS</button>
                </div>
            </form>
        </div>
    </div>
</div>
