<div class="container-fluid">
    <div class="row">
       
        <div class="col-lg-10 d-flex justify-content-center align-items-center">
            <div class="content w-75">
                <h2 class="text-center">Usuário</h2>
                <div class="row g-3" *ngIf="usuario">
                    <div class="col-lg-3">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.username">
                    </div>
                    <div class="col-lg-3">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.email">
                    </div>
                    <div class="col-lg-3">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.password">
                    </div>
                    <div class="col-lg-3">
                        <label for="role">Role</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.role">
                    </div>
                    
                    <div class="col-lg-2">
                        <button type="button" (click)="editarUsuario()" class="btn btn-custom w-100">EDITAR</button>
                    </div>
                    <div class="col-lg-10 trash-icon text-end">
                        <i class="bi bi-trash3" (click)="deletarUsuario(usuario.id)" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



