*{
    color: aliceblue;
}

.sidebar {
    background: #171C2D;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;  
    margin-bottom: 10px;  
    text-transform: uppercase; 
    color: antiquewhite;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile{
    margin-bottom: 20px;
}

.box-projetos, .box-atividades {
    background: #273c51;
    padding: 20px;
    border-radius: 10px;
    height: 30rem;
}

.botoes .botao {
    background: #273c51;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.destaque {
    background: #f39c12;
}

.botao i {
    font-size: 2rem;
    margin-bottom: 10px;
    display: block;
}