<div class="container-fluid vh-100 d-flex">

    <!-- Área Principal -->
    <div class="main-content col-lg-11 p-4">
       

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fw-bold">ATIVIDADES</h2>
            <button class="btn btn-project" [routerLink]="['/cadastro/atividade']">NOVA ATIVIDADE</button>
        </div>
        
        <div class="filter-bar">
            <input type="text" [(ngModel)]="filtros.nome" placeholder="Filtrar por nome" class="form-control" />
        
            <select [(ngModel)]="filtros.status" class="form-select">
                <option value="">Todos os Status</option>
                <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
            </select>
        
            <select [(ngModel)]="filtros.idProjeto" class="form-select">
                <option value="">Todos os Projetos</option>
                <option *ngFor="let projeto of projetos" [value]="projeto.id">{{ projeto.nome }}</option>
            </select>
        
            <input type="date" [(ngModel)]="filtros.dataInicio" class="form-control" />
            <input type="date" [(ngModel)]="filtros.dataFim" class="form-control" />
        
            <button class="btn btn-primary" (click)="aplicarFiltros()">Filtrar</button>
        </div>

        <div class="table-container p-4 bg-white">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>DESCRIÇÃO</th>
                        <th>STATUS</th>
                        <th>USUÁRIO RESP</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let atividade of atividades">
                        <td>{{ atividade.id }}</td>
                        <td>{{ atividade.nome }}</td>
                        <td>{{ atividade.descricao ? (atividade.descricao.length > 50 ? (atividade.descricao | slice:0:50) + '...' : atividade.descricao) : '' }}</td>
                        <td>{{ atividade.status }}</td>
                        <td>{{ atividade.idUsuarioResponsavel }}</td>
                        <td>
                            <button class="view-btn" [routerLink]="['/atividade', atividade.id]">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="edit" [routerLink]="['/editar/atividade', atividade.id]">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- Paginação -->
            <div class="pagination">
                <button (click)="carregarAtividades(currentPage - 1)" [disabled]="currentPage <= 0">-</button>
                <span> {{ currentPage + 1 }} de {{ totalPages }}</span>
                <button (click)="carregarAtividades(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">></button>
            </div>
        </div>
    </div>
</div>
