<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <!-- Conteúdo centralizado -->
        <div class="col-lg-10 d-flex justify-content-center">
            <div class="content">
                <h2 class="text-center">{{ projeto?.nome }}</h2>
                <div class="row g-3">
                    <div class="col-lg-3">
                        <label for="criacao">Criação</label>
                        <input type="text" class="form-control" [value]="projeto?.dataCriacao" readonly>
                    </div>
                    <div class="col-lg-3">
                        <label for="inicio">Início</label>
                        <input type="text" class="form-control" [value]="projeto?.dataInicio" readonly>
                    </div>
                    <div class="col-lg-3">
                        <label for="fim">Fim</label>
                        <input type="text" class="form-control" [value]="projeto?.dataFim" readonly>
                    </div>
                    <div class="col-lg-3">
                        <label for="usuario-reponsavel">Responsável</label>
                        <div class="box">{{ projeto?.nomeUsuarioResponsavel }}</div>
                    </div>
                    <div class="col-lg-6">
                        <label for="prioridade">Prioridade</label>
                        <div class="box">{{ projeto?.prioridade }}</div>
                    </div>
                    <div class="col-lg-6">
                        <label for="status">Status</label>
                        <div class="box">{{ projeto?.status }}</div>
                    </div>
                    <div class="col-lg-12">
                        <label for="descricao">Descrição</label>
                        <textarea class="form-control" rows="3" readonly>{{ projeto?.descricao }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
