<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-2 sidebar d-flex flex-column align-items-center">
            <img src="https://via.placeholder.com/80" alt="Admin">
            <h5>Admin Silva</h5>
            <a href="#">DASHBOARD</a>
            <a href="#">PROJETOS</a>
            <a href="#">ATIVIDADES</a>
            <a href="#">NOVA TAREFA</a>
            <a href="#">RELATÓRIOS</a>
            <a href="#">GERENCIAMENTO DE USUÁRIO</a>
        </div>

        <!-- Conteúdo -->
        <div class="col-lg-10 d-flex justify-content-center align-items-center">
            <div class="content w-75">
                <h2 class="text-center">NOME DO PROJETO</h2>
                <div class="row g-3">
                    <div class="col-lg-3">
                        <input type="date" class="form-control" placeholder="Data de Criação">
                    </div>
                    <div class="col-lg-3">
                        <input type="date" class="form-control" placeholder="Data de Início">
                    </div>
                    <div class="col-lg-3">
                        <input type="date" class="form-control" placeholder="Previsão de Término">
                    </div>
                    <div class="col-lg-3">
                        <div class="box">USUÁRIO RESP</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">PRIORIDADE</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">STATUS</div>
                    </div>
                    <div class="col-lg-12">
                        <textarea class="form-control" rows="3" placeholder="Descrição da Atividade"></textarea>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-custom w-100">SALVAR</button>
                    </div>
                    <div class="col-lg-10 trash-icon text-end">
                        🗑️
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

