<div class="container-fluid">
    <div class="row">
  
        <!-- Conteúdo principal -->
        <div class="col-lg-10 d-flex justify-content-center align-items-center">
            <div class="content-box w-75">
                <h2>Usuário</h2>
                <div class="row" *ngIf="usuario">
                    <div class="col-lg-6 mb-3">
                        <label for="nome">Nome</label>
                        <div class="info-box"> {{ usuario.username }}</div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="email">Email</label>
                        <div class="info-box"> {{ usuario.email }}</div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="role">Role</label>
                        <div class="info-box"> {{ usuario.role }}</div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="ultimoLogin">Último Login</label>
                        <div class="info-box"> {{ usuario.ultimoLogin }}</div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <label for="atividades">Atividades</label>
                        <div class="info-box"> {{ usuario.atividades.length }} </div>
                    </div>

                </div>
            </div>
        </div>
        <button (click)="voltar()" class="botao-voltar">Voltar</button>

    </div>
</div>


