<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <!-- Área Principal -->
    <div class="main-content col-lg-11 p-4">
        
        <div class="table-container p-4 bg-white">
            
            <!-- Cabeçalho e Botão -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="fw-bold">USUÁRIOS</h2>
                <button class="btn btn-project" [routerLink]="['/cadastro/usuario']">NOVO USUÁRIO</button>
            </div>

            <!-- Barra de Filtros -->
            <div class="filter-bar d-flex align-items-center gap-3 mb-3">
                <select class="form-select" [(ngModel)]="filtros.nome">
                    <option value=""> Nome</option>
                    <option *ngFor="let usuario of usuarios" [value]="usuario.username">
                        {{ usuario.username }}
                    </option>
                </select>

                <select class="form-select" [(ngModel)]="filtros.role">
                    <option value="">Role</option>
                    <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                </select>

                <select [(ngModel)]="filtros.atividade" class="form-select">
                    <option value="">Atividades</option>
                    <option *ngFor="let atividade of atividades" [value]="atividade.id">{{ atividade.nome }}</option>
                </select>

                <input type="datetime-local" class="form-control" [(ngModel)]="filtros.ultimoLogin">

                <button class="btn btn-primary" (click)="filtrarUsuarios()">Filtrar</button>
            </div>

            <!-- Tabela -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Último Login</th>
                        <th>Role</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.role }}</td>
                        <td>
                            <button class="view-btn" [routerLink]="['/usuario', usuario.id]">
                                <i class="bi bi-eye"></i>
                            </button>
                            <span class="separator">|</span>
                            <button class="edit" [routerLink]="['/editar/usuario', usuario.id]">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginação -->
            <div class="pagination">
                <button (click)="paginaAnterior()" [disabled]="currentPage === 0">-</button>
                <span> {{ currentPage + 1 }} de {{ totalPages }}</span>
                <button (click)="proximaPagina()" [disabled]="currentPage === totalPages - 1">></button>
            </div>
        </div>
    </div>
</div>
