<div class="container-fluid d-flex">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column align-items-center p-3">
        <div class="circle"></div>
        <ul class="nav flex-column mt-4">
            <li class="nav-item"><i class="bi bi-list-task"></i></li>
            <li class="nav-item"><i class="bi bi-person"></i></li>
            <li class="nav-item"><i class="bi bi-folder"></i></li>
            <li class="nav-item"><i class="bi bi-bar-chart"></i></li>
            <li class="nav-item"><i class="bi bi-clock"></i></li>
        </ul>
    </div>
    
    <!-- Conteúdo -->
    <div class="container d-flex justify-content-center align-items-center flex-grow-1">
        <div class="table-box p-4 rounded">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="text-center">ATIVIDADES</h2>
                <button class="btn btn-warning">NOVA ATIVIDADE</button>
            </div>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>DESCRIÇÃO</th>
                        <th>DATA INICIO</th>
                        <th>DATA FIM</th>
                        <th>STATUS</th>
                        <th>USUÁRIO RESPONSÁVEL</th>
                        <th>DATA CRIAÇÃO</th>
                        <th>PRIORIDADE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>35</td>
                        <td>ESENVOlVIMENTO BACKEND</td>
                        <td>IMPLEMENTAR REGRAS DE NEGÓCIO</td>
                        <td>2024-02-05</td>
                        <td>2024-02-10</td>
                        <td>EM ANDAMENTO</td>
                        <td>2024-01-20</td>
                        <td>2024-02-03</td>
                        <td>ALTA</td>
                    </tr>
                    <tr>
                        <td>356</td>
                        <td>PLANEJAMENTO SPRINT 1</td>
                        <td>DEFINIÇÃO DE TAREFAS PARA SPRINT</td>
                        <td>2024-02-05</td>
                        <td>2024-02-10</td>
                        <td>EM ANDAMENTO</td>
                        <td>2024-01-20</td>
                        <td>2024-02-03</td>
                        <td>ALTA</td>
                    </tr>
                    <tr>
                        <td>356</td>
                        <td>PLANEJAMENTO SPRINT 1</td>
                        <td>DEFINIÇÃO DE TAREFAS PARA SPRINT</td>
                        <td>2024-02-05</td>
                        <td>2024-02-10</td>
                        <td>EM ANDAMENTO</td>
                        <td>2024-01-20</td>
                        <td>2024-02-03</td>
                        <td>ALTA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
