<div class="container-fluid vh-100 d-flex">
    
    <!-- Formulário -->
    <div class="main-content col-lg-8 d-flex align-items-center justify-content-center">
        <div class="form-container p-5 bg-light">
            <h2 class="text-center fw-bold">NOVO USUARIO</h2>
            <form (ngSubmit)="cadastrar()" class="form" #usuarioForm="ngForm">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control input-custom text-center" placeholder="NOME DO USUARIO" name="nome" [(ngModel)]="usuario.username">
                    </div>
                    
                    <div class="col-lg-6 mb-3">
                        <label for="data-inicio">Email</label>
                        <input type="email" class="form-control input-custom text-center" name="data-inicio" [(ngModel)]="usuario.email">
                    </div>                  
                </div>

                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="nome">Senha</label>
                        <input type="password" class="form-control input-custom text-center" placeholder="SENHA" name="senha" [(ngModel)]="usuario.password">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="data-fim">Role</label>
                        <select class="form-control input-custom text-center" name="role" [(ngModel)]="usuario.role" required>
                          <option value="USER">Usuário</option>
                          <option value="ADMIN">Administrador</option>
                        </select>
                      </div>
                </div>

                <div class="d-flex justify-content-center gap-3">
                    <button type="submit" class="btn btn-dark" [disabled]="usuarioForm.invalid">CRIAR USUARIO</button>
                </div>
            </form>
        </div>
    </div>
</div>
