
<div class="container-fluid vh-100 d-flex">

    <!-- Formulário -->
    <div class="main-content col-lg-11 d-flex align-items-center justify-content-center">
        <div class="form-container p-5 rounded">
            <h2 class="text-center fw-bold">NOVO PROJETO</h2>
            <form (ngSubmit) ="create()" class="form">
                <div class="mb-3">
                    <label for="nome">Nome do Projeto</label>
                    <input type="text" class="form-control input-custom" placeholder="Nome do Projeto" name="name" [(ngModel)]="projeto.nome">
                </div>
                <div class="mb-3">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control input-custom" placeholder="Descrição do Projeto" name="descricao" [(ngModel)]="projeto.descricao">
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="dataInicio">Data de Início</label>
                        <input type="date" class="form-control input-custom" placeholder="Data Inicio" name="data-inicio" [(ngModel)]="projeto.dataInicio">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="dataFim">Data de Fim</label>
                        <input type="date" class="form-control input-custom" placeholder="Data da Previsão de Término" name="data-fim" [(ngModel)]="projeto.dataFim">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="prioridade">Prioridade</label>
                        <select class="form-control input-custom" name="prioridade" [(ngModel)]="projeto.prioridade">
                            <option *ngFor="let prioridade of prioridadeOptions" [value]="prioridade">
                                {{ prioridade }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="status">Status</label>
                        <select class="form-control input-custom" name="status" [(ngModel)]="projeto.status">
                            <option *ngFor="let status of statusOptions" [value]="status">
                                {{ status }}
                            </option>
                        </select>
                    </div>
                </div>
                
                <div class="d-flex justify-content-center gap-3">
                   
                    <button type="submit" class="btn btn-dark">CRIAR PROJETO</button>
                </div>
            </form>
        </div>
    </div>
</div>
