
<div class="container-fluid vh-100 d-flex">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column align-items-center justify-content-between col-lg-1 py-4">
        <div class="circle"></div>
        <div class="icons d-flex flex-column gap-4">
            <i class="fa-solid fa-clipboard"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-sitemap" onclick=""></i>
            <i class="fa-solid fa-chart-line"></i>
            <i class="fa-solid fa-clock"></i>
        </div>
    </div>

    <!-- Formulário -->
    <div class="main-content col-lg-11 d-flex align-items-center justify-content-center">
        <div class="form-container p-5 rounded">
            <h2 class="text-center fw-bold">NOVO PROJETO</h2>
            <form (ngSubmit) ="create()" class="form">
                <div class="mb-3">
                    <input type="text" class="form-control input-custom" placeholder="Nome do Projeto" name="name" [(ngModel)]="projeto.nome">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control input-custom" placeholder="Descrição do Projeto" [(ngModel)]="projeto.descricao">
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <input type="date" class="form-control input-custom" placeholder="Data de Criação" [(ngModel)]="projeto.dataCriacao">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <input type="date" class="form-control input-custom" placeholder="Data da Previsão de Término" [(ngModel)]="projeto.dataFim">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <input type="text" class="form-control input-custom" placeholder="Prioridade" [(ngModel)]="projeto.prioridade">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <input type="text" class="form-control input-custom" placeholder="Status" [(ngModel)]="projeto.status">
                    </div>
                </div>
                <div class="d-flex justify-content-center gap-3">
                    <button type="button" class="btn btn-dark btn-icon"><i class="fa-solid fa-trash"></i></button>
                    <button type="button" class="btn btn-dark btn-icon"><i class="fa-solid fa-pencil"></i></button>
                    <button type="submit" class="btn btn-dark">CREATE PROJECT</button>
                </div>
            </form>
        </div>
    </div>
</div>
