<div class="container-fluid d-flex">
 
    
    <!-- Conteúdo -->
    <div class="container d-flex justify-content-center align-items-center flex-grow-1">
        <div class="form-box p-4 rounded">
            <h2 class="text-center">LANÇAMENTO DE HORAS</h2>
            <form class="form" >
                <div class="row g-3 mt-3">
                    <div class="col-lg-3">
                        <label for="dataRegistro" class="form-label">Registro</label>
                        <input type="date" class="form-control" id="dataRegistro"[(ngModel)]="lancamentoHoras.dataRegistro" name="dataRegistro" readonly>
                    </div>
                    <div class="col-lg-3">
                        <label for="dataInicio" class="form-label">Início</label>
                        <input type="time" class="form-control" id="dataInicio" [(ngModel)]="dataInicio" name="dataInicio" readonly>
                    </div>
                    <div class="col-lg-3">
                        <label for="dataFim" class="form-label"> Fim</label>
                        <input type="time" class="form-control" id="dataFim" [(ngModel)]="dataFim" name="dataFim" readonly>
                    </div>
                    <div class="col-lg-3">
                        <label for="tempoDuracao" class="form-label">Tempo de Duração</label>
                        <input type="text" class="form-control" id="tempoDuracao" name="tempoDuracao"  [(ngModel)]="tempoDuracao" readonly>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label for="vincular-projeto">Vincular atividade</label>
                        <select class="form-control input-custom text-center" name="projeto" [(ngModel)]="lancamentoHoras.idAtividade" readonly>
                            <option *ngFor="let atividade of atividades" [ngValue]="atividade.id">
                                {{ atividade.nome }}
                            </option>
                        </select>

                    </div>
                    <div class="col-lg-8 ">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="descricao" [(ngModel)]="lancamentoHoras.descricao" name="descricao" readonly>
                    </div>
                    
                </div>
               
            </form>
        </div>
    </div>
</div>

