
.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    margin-left: 80px; 
    width: calc(100% - 80px);
    
}

.main-content h2{
    color: #000;
}

.btn-project {
    background-color: #fff;
    color: #000;
    transition: 0.1s ease-in-out;
}

.btn-project:hover {
    color: #000; 
    border: 2px
}

.table-container {
    background-color: #000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


.view-btn i {
    font-size: 20px; 
    display: flex;
    margin-top: 4px;
}

.filter-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-bar .form-control, 
.filter-bar .form-select {
    width: auto;
    flex: 1;
}

.filter-bar button {
    flex: 0.5;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    button {
      margin: 0 10px;
    }
  
    span {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }


table {
    background-color: transparent;
    text-align: center;
}

th {
    font-weight: 500;
    color: black;
}

td {
    font-size: 14px;
    color: black;
}


