.sidebar {
    background-color: #0a1128;
    color: #f4a261;
    gap: 20px;
    width: 70px; 
    height: 100vh; 
    margin-left: -15px;
}

.sidebar .circle {
    width: 50px;
    height: 50px;
    background-color: #f4a261;
    border-radius: 50%;
}

.sidebar .icons i {
    font-size: 32px;
    color: #f4a261;
    cursor: pointer;   
}

.icons{
    margin-bottom: 100px;
}

.icons a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
}

.main-content h2{
    color: #f4a261;
}

.btn-project {
    background-color: #0a1128;
    color: #f4a261;
    transition: 0.1s ease-in-out;
}

.btn-project:hover {
    color: #f4a261; 
    border: 2px
}

.table-container {
    background-color: #f4a261;
    border-radius: 15px;
    padding: 20px;
}


.view-btn i {
    font-size: 20px; 
    display: flex;
    margin-top: 4px;
}

table {
    background-color: transparent;
    text-align: center;
}

th {
    font-weight: bold;
    color: black;
}

td {
    font-size: 14px;
    color: black;
}