.sidebar {
    background-color: #f6f6f6;
    width: 80px;  /* Maior para melhor usabilidade */
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.sidebar .circle {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .icons i {
    font-size: 32px;
    color: #000;
    cursor: pointer;   
}

.icons{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px; /* Aumentei o espaço entre os ícones */
}

.icons a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    transition: transform 0.2s;
}

.icons a:hover {
    transform: scale(1.1);  /* Efeito sutil ao passar o mouse */
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    margin-left: 80px; 
    width: calc(100% - 80px);
    
}

.main-content h2{
    color: #000;
}

.btn-project {
    background-color: #fff;
    color: #000;
    transition: 0.1s ease-in-out;
}

.btn-project:hover {
    color: #000; 
    border: 2px
}

.table-container {
    background-color: #000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


.view-btn i {
    font-size: 20px; 
    display: flex;
    margin-top: 4px;
}


table {
    background-color: transparent;
    text-align: center;
}

th {
    font-weight: 500;
    color: black;
}

td {
    font-size: 14px;
    color: black;
}


