<!--<div *ngIf="step === 1">
  <h2>Recuperação de Senha</h2>
  <input type="email" [(ngModel)]="email" placeholder="Digite seu e-mail" />
  <button (click)="recoverPassword()">Enviar</button>
</div>

<div *ngIf="step === 2">
  <h2>Valide seu Token</h2>
  <input type="text" [(ngModel)]="token" placeholder="Digite o token recebido" />
  <button (click)="validateToken()">Validar</button>
</div>

<div *ngIf="step === 3">
  <h2>Redefinir Senha</h2>
  <input type="password" [(ngModel)]="newPassword" placeholder="Digite sua nova senha" />
  <button (click)="changePassword()">Alterar Senha</button>
</div>-->
<h2>Redefinir Senha</h2>
<input type="password" [(ngModel)]="newPassword" placeholder="Nova senha">
<button (click)="resetPassword()">Redefinir</button>
